{% load django_vite %}<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django App{% endblock %}</title>
    {% vite_hmr_client %}
    {% vite_asset "src/django.css" %}  <!-- Load Django-specific Tailwind styles -->
    {% vite_asset "src/main.js" %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <h1 class="text-8xl my-8 text-blue-600 font-black py-8">Hello From Django</h1>
    {% block content %}{% endblock %}
  </body>
</html>

